body {
  margin: 0;
  overflow: hidden;
}

.controls {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

canvas {
  position: absolute;
}
svg {
  position: absolute;
  display: none;
}
#nextBtn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  padding: 15px 35px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  background: #ff5c8a;
  color: white;
  cursor: pointer;
  font-weight: bold;
  box-shadow: 0 0 20px rgba(255, 92, 138, 0.8);
  opacity: 0;
  transition: 0.7s;
  z-index: 9999;
}

#nextBtn.show {
  opacity: 1;
}
#heartText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-shadow: 0 0 10px #ff5c8a, 0 0 25px #ff2a6d;
  font-family: 'Poppins', sans-serif;
  z-index: 9999;
}
